<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- ********************************************************* -->
  <!--   log4net Settings                                        -->
  <!-- ********************************************************* -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="appParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <param name="File" value="start.log"/>
      <param name="MaxFileSize" value="2000000"/>
      <param name="MaxSizeRollBackups" value="5"/>
      <param name="RollingMode" value="Size"/>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="sample@mydomain.com"/>
      <from value="sample@mydomain.com"/>
      <subject value="[Booking Error Notification]"/>
      <smtpHost value="smtp.mydomain.com"/>
      <authentication value="Basic"/>
      <password value="mail.password"/>
      <username value="mail.username"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <!-- +++++ Production: ERROR +++++ -->
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%ndc] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <!-- +++++ Production: WARN +++++ -->
    <root>
      <level value="WARN"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="SmtpAppender"/>
    </root>
  </log4net>
  <!-- ********************************************************* -->
  <!--   Application Settings                                    -->
  <!-- ********************************************************* -->
  <appSettings>
    <add key="database_password" value="db.password"/>
    <add key="start_page" value="http://www.mydomain.com"/>
    <add key="price_handler_url" value="http://www.mydomain.de/prices.ashx"/>
    <add key="error_cookie_page" value="~/aspx/error_cookie.aspx"/>
    <add key="error_timeout_page" value="~/aspx/error_timeout.aspx"/>
    <add key="error_house_init_page" value="~/aspx/error_houseId.aspx"/>
    <!-- +++++ Production: mode="true" +++++ -->
    <add key="booking_active" value="true"/>
    <add key="mail_server" value="smtp.mydomain.com"/>
    <add key="mail_address" value="sample@mydomain.com"/>
    <add key="mail_password" value="mail.password"/>
    <add key="mail_user" value="mail.username"/>
  </appSettings>
  <!-- ********************************************************* -->
  <!--   Web Application Settings                                -->
  <!-- ********************************************************* -->
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="*"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages enableSessionState="true" autoEventWireup="false" styleSheetTheme="Standard" theme="Standard" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="de-DE" uiCulture="de-DE"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <httpHandlers>
      <!-- Handler -->
      <add verb="GET" path="prices.ashx" type="de.fiok.handler.PriceHandler"/>
      <add verb="GET" path="bookingAsCSV.ashx" type="de.fiok.handler.CSVExportHandler"/>
      <add verb="GET" path="domainChecker.ashx" type="de.fiok.handler.DomainCheckerHandler"/>
    </httpHandlers>
    <!-- +++++ Production: mode="On" +++++ -->
    <customErrors mode="On" defaultRedirect="~/aspx/error_500.aspx">
      <error statusCode="403" redirect="~/aspx/error_403.aspx"/>
      <error statusCode="404" redirect="~/aspx/error_404.aspx"/>
    </customErrors>
    <browserCaps>
      <filter>
        <case match=".">
          browser=IE
          version=6.0
          majorversion=6
          minorversion=0
          frames=true
          tables=true
          cookies=true
          backgroundsounds=false
          vbscript=false
          javascript=true
          javaapplets=true
          activexcontrols=false
          tagwriter=System.Web.UI.HtmlTextWriter
          ecmascriptversion=1.2
          w3cdomversion=1.0
          css1=true
          css2=true
          xml=true
        </case>
      </filter>
    </browserCaps>
    <authentication mode="Forms">
      <forms name="BOOKING_ADMIN_AUTH" loginUrl="~/aspx/login.aspx" protection="All" timeout="30" path="/" slidingExpiration="true"/>
    </authentication>
    <roleManager enabled="false" defaultProvider="staticProvider">
      <providers>
        <clear/>
        <add name="staticProvider" type="de.fiok.web.StaticRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>