<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

  <!-- ********************************************************* -->
  <!--   Nur authentifizierte Benutzer haben Zugriff auf         -->
  <!--   dieses Verzeichnis                                      -->
  <!-- ********************************************************* -->

  <system.web>

    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>

</configuration>
